<!DOCTYPE html>
<html lang="en" ng-app='app'>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="/public/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/public/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/public/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/public/img/favicon/site.webmanifest" />

<title>Marketing Digital - AlphaYele</title>
</head>

<body ng-controller="MainController">


<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>


<main class="dm-main">
<!------------ ========== S-HERO SECTION ========== ------------>
<section class="flex-center sero">
<div class="flex-center se-container">
<div class="flex-center flex-col se-content" data-aos="fade-up">
<div class="flex-center flex-col sec-text">
<h1>
 L’agence technologique et créative  360 degrés dont vous avez besoin pour <span>dominer</span> votre marché!
</h1>

<p>
Atteignez votre objectif digital en combinant créativité et technologie avec succès. 
</p>
</div>

<button
class="flex-center sec-btn"
onclick="window.location.href = 'pricing'"
>
Atteignez votre public cible
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</div>
</section>

<!------------ ========== S-SERVICE SECTION ========== ------------>
<section class="flex-center ses">
<div class="flex-center flex-col ses-container">
<div class="flex-center ses-title">
<h3>Tout un studio de création rien que pour vous</h3>
<p>
Confiez la création de vos projets créatifs à une équipe Alpha possédant une double expertise opérationnelle et créative. Nous travaillons avec des centaines d' entreprises de différents secteurs par an.
</p>
</div>

<div class="flex-center ses-content">
<div class="flex-center flex-col sesc" data-aos="fade-up">
<span>01.</span>
<h4>Stratégie de contenu</h4>
<p>
Élaborez un plan complet pour diffuser efficacement des contenus qui trouvent un écho auprès de votre public cible.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02.</span>
<h4>Création de contenu</h4>
<p>
Créez des visuels  convaincants et engageants adaptés à la voix et aux objectifs de votre marque.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03.</span>
<h4>Publicité payante</h4>
<p>
Utilisez des campagnes payantes stratégiques pour maximiser la visibilité de votre marque et atteindre efficacement votre public cible.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="500"
>
<span>04.</span>
<h4>Analyse créative</h4>
<p>
Analysez les performances de vos ressources créatives et de vos campagnes pour optimiser les stratégies futures et maximiser le retour sur investissement.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="600"
>
<span>05.</span>
<h4>Optimisation SEO & SEA</h4>
<p>
Améliorez votre présence en ligne et augmentez le trafic sur votre site Web ou Application  grâce à des techniques stratégiques de référencement et de SEA.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="600"
>
<span>06.</span>
<h4>Publicité Offline</h4>
<p>
Tirez parti de de la puissance de la publicité Offline (Billboards) pour atteindre vos clients là où ils se trouvent.
</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</section>

<!------------ ========== S-APPROACH SECTION ========== ------------>
<section class="flex-center sa">
<div class="flex-center flex-col sa-container" data-aos="fade-up">
<div class="flex-center sa-title">
<h3>Gestion des Campagnes Média</h3>
<p>
Concentrez-vous sur votre croissance, nous gérons vos campagnes marketing!
<strong>Stratégie, création, gestion et optimisation :</strong>
Nous prenons en charge vos campagnes marketing Online et Offline, pour des performances optimales.
</p>
</div>

<div class="flex-center sa-content">
<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="/public/img/icons/globe.gif" alt="" loading="lazy" />

<h5>Nos leviers  <span>internationaux</span></h5>
</div>

<div class="flex-center sac-content">
<div class="flex-center sac-img">
<div class="flex-center saci">
<img
src="/public/img/ads/google-ads.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/meta-ads.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/linked-in-ads.jpg"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/tiktok-ads.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/snapchat-ads.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/spotify-ads.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="/public/img/icons/africa.png" alt="" loading="lazy" />

<h5>Nos partenaires <span>locaux</span></h5>
</div>

<div class="flex-center sac-content">
<div class="flex-center sac-img">
<div class="flex-center saci">
<img
src="/public/img/ads/alliance-media.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/adafri.webp"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/sb-outdoor.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/ads/yira-meida.png"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/clients/alx.jfif"
alt=""
loading="lazy"
/>
</div>

<div class="flex-center saci">
<img
src="/public/img/clients/ispring.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</div>
</div>

<button
class="flex-center sac-btn"
onclick="window.location.href = 'Pricing'"
>
Commencer un projet 
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</section>

<!------------ ========== STEPS SECTION ========== ------------>
<%-include('components/steps-section')%>

<!------------ ========== FAQ SECTION ========== ------------>
<%-include('components/faq-home')%>
</main>


<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>



<!-- <<<<<<<< SCRIPT >>>>>>>> -->
<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
