<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />

<!-- CSS -->
<link rel="stylesheet" href="/public/css/loader.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="/public/css/base.css" />
<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/modal.css" />

<!-- ===== MATERIAL ICONS =====-->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<!-- ===== BOXICONS =====-->
<link
href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
rel="stylesheet"
/>

<!-- ===== AOS (Animate On Scroll) =====-->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

<!-- ===== FAVICON =====-->
<link
rel="apple-touch-icon"
sizes="180x180"
href="/public/img/favicon/apple-touch-icon.png"
/>
<link
rel="icon"
type="image/png"
sizes="32x32"
href="/public/img/favicon/favicon-32x32.png"
/>
<link
rel="icon"
type="image/png"
sizes="16x16"
href="/public/img/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="/public/img/favicon/site.webmanifest" />

<title>
Alpha Creative: The pan-African agency that thinks about the future!
</title>
</head>

<body ng-controller="MainController">

<!-- <<<<<<<< HEADER >>>>>>>> -->
<%-include('components/header')%>



<main class="ita-main">
<!------------ ========== S-HERO SECTION ========== ------------>
<section class="flex-center sero">
<div class="flex-center se-container">
<div class="flex-center flex-col se-content" data-aos="fade-up">
<div class="flex-center flex-col sec-text">
<h1>
Exploitez la puissance de la technologie et de l' IA pour <span>booster</span> votre business!
</h1>

<p>
Sites Web, Applications, Logiciels d'automatisation, collecte et analyse de données : nos solutions sur mesure vous aideront à réussir. 
</p>
</div>

<button
class="flex-center sec-btn"
onclick="window.location.href = 'pricing'"
>
Commencer un projet 
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</div>
</section>

<!------------ ========== S-SERVICE SECTION ========== ------------>
<section class="flex-center ses">
<div class="flex-center flex-col ses-container">
<div class="flex-center ses-title">
<h3>En tant qu'entrepreneurs aussi, nous comprenons vos challenges</h3>
<p>
Confiez la création de vos projets créatifs à une équipe Alpha
avec une double expertise opérationnelle et créative. Nous travaillons avec 50+
entreprises de divers secteurs par an.
</p>
</div>

<div class="flex-center ses-content">
<div class="flex-center flex-col sesc" data-aos="fade-up">
<span>01.</span>
<h4>Ressources internes limitées</h4>
<p>Manque de ressources internes pour gérer vos projets technologiques.</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="300"
>
<span>02.</span>
<h4>Rapport coût-efficacité</h4>
<p>Coûts élevés et inefficacité des processus manuels.</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>

<div
class="flex-center flex-col sesc"
data-aos="fade-up"
data-aos-delay="400"
>
<span>03.</span>
<h4>Solutions innovantes</h4>
<p>Besoin de solutions innovantes pour rester compétitif.</p>
<img
src="/public/img/brand/emblem-black.png"
alt=""
loading="lazy"
/>
</div>
</div>
</div>
</section>

<!------------ ========== S-APPROACH SECTION ========== ------------>
<section class="flex-center sa">
<div class="flex-center flex-col sa-container" data-aos="fade-up">
<div class="flex-center sa-title">
<h3>Des solutions sur mesure adaptées à vos besoins</h3>
<p>
Qu’il s’agisse d’un site internet ou de la mise en place d’une infrastructure technologique complexe, nous mettons à votre disposition:
</p>
</div>

<div class="flex-center sa-content">
<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="/public/img/icons/expert.png" alt="" loading="lazy" />

<h5>
Équipe <span>d'experts tech</span> dédiée à votre entreprise.
</h5>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img src="/public/img/icons/support.png" alt="" loading="lazy" />

<h5>
Assistance <span>personnalisée</span> tout au long de votre projet.
</h5>
</div>
</div>

<div class="flex-center flex-col sac">
<div class="flex-center sac-title">
<img
src="/public/img/icons/solution.png"
alt=""
loading="lazy"
/>

<h5>
Solutions d'automatisation sur mesure pour <span>simplifier</span> vos processus
</h5>
</div>
</div>
</div>

<button
class="flex-center sac-btn"
onclick="window.location.href = 'Pricing'"
>
Boostez votre entreprise
<span class="material-symbols-outlined"> arrow_outward </span>
</button>
</div>
</section>


<!------------ ========== STEPS SECTION ========== ------------>
<%-include('components/steps-section')%>

<!------------ ========== FAQ SECTION ========== ------------>
<%-include('components/faq-home')%>



</main>


<!-- <<<<<<<< FOOTER >>>>>>>> -->
<%-include('components/footer')%>

<!-- ============= [QUOTE MODAL] ============= -->
<%-include('components/modal')%>


<script src="/public/js/popup.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/index.js"></script>
<script src="/public/js/modal.js"></script>
<!-- ===== AOS (Animate On Scroll) =====-->
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
AOS.init({
duration: 1500,
anchor: "top center",
});

window.addEventListener("load", AOS.refresh);
</script>
</body>
</html>
